<%= form_with(model: assignment, class: "contents") do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id_id %>
    <%= form.text_field :user_id_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": assignment.errors[:user_id_id].none?, "border-red-400 focus:outline-red-600": assignment.errors[:user_id_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :project_id_id %>
    <%= form.text_field :project_id_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": assignment.errors[:project_id_id].none?, "border-red-400 focus:outline-red-600": assignment.errors[:project_id_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
