<div id="<%= dom_id project %>">
  <div class="my-5">
    <div class="flex justify-start">
      <h1 class="font-bold"><%= project.title %></h1>
      <%= turbo_frame_tag "#{dom_id(project)}_status" do %>
        <%= link_to t(project.status), edit_status_project_path(project), data: { turbo_frame: :modal }, id: "#{dom_id(project)}_update_status", class: "text-gray-600 hover:text-blue-600 w-96 min-h-5 px-10 flex items-center" %></span>
      <% end %>
    </div>
    <div class="mt-2 mx-5 font-light">
      <%= project.description %>
    </div>
  </div>
</div>
