<%= form_with(model: project, url: update_status_project_path(project), method: :patch, class: "contents") do |form| %>
    <% if project.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
        <ul class="list-disc ml-6">
          <% project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="my-5">
      <%= form.label :status %>
      <%= form.select :status, project.available_status.map { |k,v| [t(v), k] }, {class: "form-control"} %>
    </div>
  
    <div class="inline">
      <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
<% end %>
  