<%= clear_modal %>

<% if @result&.success %>
    <%= turbo_stream.update "#{dom_id(@project)}_status" do %>
        <%= link_to t(@update_status), edit_status_project_path(@project), data: { turbo_frame: :modal }, id: "#{dom_id(@project)}_update_status", class: "text-gray-600 hover:text-indigo-600 bg-indigo-50 hover:bg-indigo-100 min-h-5 px-3 flex items-center" %></span>
    <% end %>

    <%= turbo_stream.prepend "#{dom_id(@project)}_comments" do %>
        <%= render @result.data[:comment] %>
    <% end %>
<% end %>

<%= show_flash_if_any %>
